.product-list{
   display: flex;
   flex-wrap: wrap;
    justify-content: center;


}
.container{
    text-align: center;
    display: flex;
    justify-content: center;
}
.statement{
    padding: 0px 5px;
    width: 250px;
    border: 1px solid #BDBDBD;
    margin-right: 50px;
}
